{% extends 'base.html' %}
{% block conteudo %}

    <a>Cadastre-Se!</a>
    <p>Te manteremos informado sobre novas coleções e promoções!!!</p><br>
    <a href="/teste">Já tem Cadastro? Entrar!</a><br>


    <!--formulario de cadastro-->
    <form action="/cadastrarUsuario" method="POST">
        <label name="nome">Nome: </label>
        <input type="text" name="txtNome" id="name"><br><br>

        <label name="endereco">Seu Melhor E-mail: </label>
        <input type="text" name="txtMail" id="mail"><br><br>

        <label name="telefone">Telefone: </label>
        <input type="text" name="txtTel" id="tel"><br><br>

        <label name="senha">Senha: </label>
        <input type="text" name="txtSenha" id="passwd"><br><br>

        <button type="submit" onclick="">Confirmar</button>
    </form>
    <a href="/listar">Consultar Tudo</a><br><br>
    <a href="/listarIndividual">Consultar Individual</a><br><br>
    <a href="/atualizar">Atualizar</a><br><br>
    <a href="/excluir">Excluir</a><br><br>




{% endblock %}